* {
	margin:0;
	padding: 0;
}
body {
	background: #FFF;
	font-family: "Trebuchet MS" Helvetica, sans-serif;
}

#container {
	margin:0 auto;
	background: #7159C1;
}

#cabeçalho {
	width: 720px;
	height: 60px;
}